<th:block th:fragment="see_side_fragment(SeeSideListModel)">
	<div class="see_side_menu">
		<div class="hamburger-menu">
			<input id="ac-check1" class="ac-check" type="checkbox">
			<label class="ac-label" for="ac-check1">
				トークルーム一覧
			</label>
			<div class="ac-content">
				<li><a th:href="@{/web/insert/dialogue}">友達追加</a></li>
				<li><a th:href="@{/web/create/group}">グループ作成</a></li>
				<li><a th:href="@{/web/user}">設定</a></li>
				<li><a th:href="@{/web/logout}">ログアウト</a></li>
			</div>
		</div>
	</div>
	<div class="see_side_lists_outer" th:object="${SeeSideListModel}">
		<div class="see_side_lists_inner">
			<div class="see_side_title">
				<div class="hamburger-menu">
					<input id="ac-check_have_user" class="ac-check" type="checkbox">
					<label class="ac-label" for="ac-check_have_user">
						友達一覧<div class="notice" th:if="*{allNoticeCountInHaveUserList} != 0" 
								th:text="*{allNoticeCountInHaveUserList}"></div>
					</label>
					<div class="ac-content">
						<li th:each="list : *{haveUserList}" th:object="${list}">
							<div class="see_side_content"
								th:attr="data-href=@{/web/dialogue/{haveUserIdName}(haveUserIdName = *{userIdName})}">
								<div th:text="*{userName}"></div>
								<div class="notice" 
									th:if="*{noticeCount} != 0"
									th:text="*{noticeCount}"></div>
							</div>
						</li>
					</div>
				</div>
			</div>
			<div class="see_side_title">
				<div class="hamburger-menu">
					<input id="ac-check_have_group" class="ac-check" type="checkbox">
					<label class="ac-label" for="ac-check_have_group">
						グループ一覧<div class="notice" th:if="*{allNoticeCountInGroupList} != 0" 
									th:text="*{allNoticeCountInGroupList}"></div>
					</label>
					<div class="ac-content">
						<li th:each="list : *{groupList}" th:object="${list}">
							<div class="see_side_content"
								th:attr="data-href=@{/web/group/{groupTalkRoomId}(groupTalkRoomId = *{groupTalkRoomId})}">
								<div th:text="*{groupName}"></div>
								<div class="notice" 
									th:if="*{noticeCount} != 0"
									th:text="*{noticeCount}"></div>
							</div>
						</li>
					</div>
				</div>
			</div>
			<div class="see_side_title">
				<div class="hamburger-menu">
					<input id="ac-check_desire_have_user" class="ac-check" type="checkbox">
					<label class="ac-label" for="ac-check_desire_have_user">
						友達になれそうな一覧<div class="notice" th:if="*{desireHaveUserCount} != 0"
											th:text="*{desireHaveUserCount}"></div>
					</label>
					<div class="ac-content">
						<li th:each="list : *{desireHaveUserList}" th:object="${list}">
							<div class="see_side_content"
								th:attr="data-href=@{/web/desire/dialogue/{haveUserIdName}(haveUserIdName = *{haveUserIdName})}">
								<div th:text="*{haveUserName}"></div>
							</div>
						</li>
					</div>
				</div>
			</div>
			<div class="see_side_title">
				<div class="hamburger-menu">
					<input id="ac-check_desire_have_group" class="ac-check" type="checkbox">
					<label class="ac-label" for="ac-check_desire_have_group">
						誘われているグループ一覧<div class="notice" th:if="*{desireGroupCount} != 0"
												th:text="*{desireGroupCount}"></div>
					</label>
					<div class="ac-content">
						<li th:each="list : *{desireGroupList}" th:object="${list}">
							<div class="see_side_content"
								th:attr="data-href=@{/web/desire/group/{groupTalkRoomId}(groupTalkRoomId = *{talkRoomId})}">
								<div th:text="*{groupName}"></div>
							</div>
						</li>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>